body {
    background-image: url("paper.jpg");
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   text-emphasis: none;
  }
  h1{
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:whitesmoke;
    text-align: center; 
    text-decoration: underline
  }